{% extends "layout.html" %}

{% block title %}About us{% endblock %}

{% block body %}
    <main class="main bg-light p-4 border rounded">
        <h2 class="text-center mb-4" style="color: lightseagreen;">About embe zuri</h2>
        <div class="article">
            <article>
                <p class="lead">
                    embe zuri web app uses AI deep learning technology to diagnose common mango diseases. Users upload an image of a mango leaf and the app processes the image to determine if it's healthy or diseased. The app offers agronomic advice on the best solutions to manage a mango disease that has been detected. 
                </p>
            </article>
        </div>
    </main>
{% endblock %}
